{% extends 'partials/_base.html' %}
{% load static %}

{% block content%}	
	<div class="all-title-box">
		<div class="container text-center">
			<h1>{{ user.username }}</span></h1>
		</div>
	</div>
	
    <div id="overviews" class="section wb">
		
        <div class="container">
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{message.tags}}">
						{{message}}
					</div>
				{% endfor %}
			{% endif %}
            <div class="row"> 
                <div class="col-lg-12 blog-post-single">
                  
					{% if user_type == 'teacher' %}
					<div class="blog-author">
						<div class="author-bio">
							<h2 class="author_name">{{teacher.first_name}} {{teacher.last_name}}</h2>
							<br>
							<h3 class="author_name"><b>Title:</b>  {{teacher.title}}</h3>
							<h3> <b>Description:</b> {{teacher.description}}</h3>
							<h3> <b>Facebook:</b> <a target="_blank" href="{{teacher.facebook}}">{{teacher.facebook}}</a></h3>
							<h3> <b>Twitter:</b> <a target="_blank" href="{{teacher.facebook}}">{{teacher.twitter}}</a></h3>
							<h3> <b>Linkedin:</b> <a target="_blank" href="{{teacher.facebook}}">{{teacher.linkedin}}</a></h3>
							<h3> <b>Youtube:</b> <a target="_blank" href="{{teacher.facebook}}">{{teacher.youtube}}</a></h3>
							<br>
							<h3> <b>Enrolled Date:</b> {{teacher.account_create_date}}</h3>
							<br>
							<div>
								<a href="{% url 'edit_teacher_detail'%}" class="btn btn-info">Update</a>
							</div>
						</div>
					</div>
					
					{%else%}
					<div class="blog-author">
						<div class="author-bio">
							<h2 class="author_name">{{user.first_name}} {{user.last_name}}</h2>
						</div>
					</div>

					{% endif %}

                </div><!-- end col -->
				
            </div><!-- end row -->

            <div class="row"> 
                <div class="col-lg-12">
					{% if user_type == 'teacher' %}
                    	<h2 class="text-center my-5">My Courses</h2>
					{% else %}
						<h2 class="text-center my-5">Enrolled Courses</h2>
					{% endif %}
                </div>
                {% for course in courses %}
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <div class="course-item">
						<div class="image-blog">
							<img src="{{ course.image.url }}" alt="" class="img-fluid">
						</div>
						<div class="course-br">
							<div class="course-title">
								<h2><a href="{% url 'course_detail' course.category.slug course.id%}" title="">{{ course.name }}</a></h2>
							</div>
							<div class="course-desc">
								<p>{{course.description|truncatechars:140}} </p>
							</div>
						</div>
						<div class="course-meta-bot">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i> {{course.date|date:"d M Y"}}</li>
                                        
								<li>
									{% if user_type == 'teacher' and user.username == course.teacher.username%}
										<a href="{% url 'dashboard' course.teacher.username%}"><i class="fa fa-book" aria-hidden="true"></i> {{course.teacher.username}} </a> 
									{% else %}
										<a href="{% url 'teacher_detail' course.teacher.pk %}"><i class="fa fa-book" aria-hidden="true"></i> {{course.teacher.username}}</a>
									{% endif %}
								</li>
								
							</ul>
							{% if user_type == 'teacher' and user.username == course.teacher.username%}
									<div class="d-flex justify-content-around mt-3">
										<a class="btn btn-info" href="{% url 'edit_course' course.category.slug course.id%}">Edit Course</a>
										<button class="btn btn-danger" data-toggle="modal" data-target="#deleteCourseModal{{ course.id }}" >Delete Course</button>
									</div>		
									
							{% endif %}
							
						</div>
					</div>
                </div><!-- end col -->
				<!-- DELETE COURSE MODAL -->
				<div class="modal fade" id="deleteCourseModal{{ course.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteCourseModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header">
								<h2 class="modal-title" id="deleteCourseModalLabel"> Delete the Course</h2>
								<button type="button" class="close" data-dismiss="modal">
									<span>&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>You will Delete the course below: </p>
								<h1>{{course.name}}</h1>
							</div>
							<div class="modal-footer">

								<a class="btn btn-danger" href="{% url 'delete_course' course.category.slug course.id %}">I Am Sure</a>
		
								<button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
							</div>
						</div>
					</div>
				</div>
                {% endfor %}
            </div><!-- end row -->		

        </div><!-- end container -->
    </div><!-- end section -->

	
		
    
{% endblock %}